<h2 class="page-header">Signup Page</h2><hr></hr>
    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
    {{/if}}
<form method="post" action="/users/register">
<div class="form-group">
    <label>FirstName</label>
    <input type="text" class="form-control" placeholder="Firstname" name="firstName"></input>
</div>
<div class="form-group">
    <label>LastName</label>
    <input type="text" class="form-control" placeholder="Lastname" name="lastName"></input>
</div>
<div class="form-group">
    <label>UserName</label>
    <input type="text" class="form-control" placeholder="Username" name="userName"></input>
</div>
<div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email"></input>
</div>
<div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password"></input>
</div>
<div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword"></input>
</div>
    <button type = "submit" class="btn btn-success">Submit</button>
    <br></br>
</form>